In [1]:
from pyspark.sql import SparkSession

In [2]:
# Configuración de plataforma Spark
spark = SparkSession\
    .builder\
    .appName("PythonPi")\
    .getOrCreate()

In [3]:
# Importación de datos de Housing a una estructura Spark
path_archivo = r'C:\Users\Bodok\Downloads\EBAC curso\Modulo 49 - Big Data I/Housing.csv'

df = spark.read.csv(path_archivo)

In [5]:
df = spark.read.csv(path_archivo, header=True)

In [8]:
df.show()

+----------+---------------+---------+--------+---------+-----------+--------+------+----------+----+---------+-----+----------+-------------+--------+------------+-------+-------+--------+-------------+----------+
|        id|           date|    price|bedrooms|bathrooms|sqft_living|sqft_lot|floors|waterfront|view|condition|grade|sqft_above|sqft_basement|yr_built|yr_renovated|zipcode|    lat|    long|sqft_living15|sqft_lot15|
+----------+---------------+---------+--------+---------+-----------+--------+------+----------+----+---------+-----+----------+-------------+--------+------------+-------+-------+--------+-------------+----------+
|7129300520|20141013T000000| 221900.0|       3|      1.0|       1180|    5650|   1.0|         0|   0|        3|    7|      1180|            0|    1955|           0|  98178|47.5112|-122.257|         1340|      5650|
|6414100192|20141209T000000| 538000.0|       3|     2.25|       2570|    7242|   2.0|         0|   0|        3|    7|      2170|          400|    1951|        1991|  98125| 47.721|-122.319|         1690|      7639|
|5631500400|20150225T000000| 180000.0|       2|      1.0|        770|   10000|   1.0|         0|   0|        3|    6|       770|            0|    1933|           0|  98028|47.7379|-122.233|         2720|      8062|
|2487200875|20141209T000000| 604000.0|       4|      3.0|       1960|    5000|   1.0|         0|   0|        5|    7|      1050|          910|    1965|           0|  98136|47.5208|-122.393|         1360|      5000|
|1954400510|20150218T000000| 510000.0|       3|      2.0|       1680|    8080|   1.0|         0|   0|        3|    8|      1680|            0|    1987|           0|  98074|47.6168|-122.045|         1800|      7503|
|7237550310|20140512T000000|1225000.0|       4|      4.5|       5420|  101930|   1.0|         0|   0|        3|   11|      3890|         1530|    2001|           0|  98053|47.6561|-122.005|         4760|    101930|
|1321400060|20140627T000000| 257500.0|       3|     2.25|       1715|    6819|   2.0|         0|   0|        3|    7|      1715|            0|    1995|           0|  98003|47.3097|-122.327|         2238|      6819|
|2008000270|20150115T000000| 291850.0|       3|      1.5|       1060|    9711|   1.0|         0|   0|        3|    7|      1060|            0|    1963|           0|  98198|47.4095|-122.315|         1650|      9711|
|2414600126|20150415T000000| 229500.0|       3|      1.0|       1780|    7470|   1.0|         0|   0|        3|    7|      1050|          730|    1960|           0|  98146|47.5123|-122.337|         1780|      8113|
|3793500160|20150312T000000| 323000.0|       3|      2.5|       1890|    6560|   2.0|         0|   0|        3|    7|      1890|            0|    2003|           0|  98038|47.3684|-122.031|         2390|      7570|
|1736800520|20150403T000000| 662500.0|       3|      2.5|       3560|    9796|   1.0|         0|   0|        3|    8|      NULL|         1700|    1965|           0|  98007|47.6007|-122.145|         2210|      8925|
|9212900260|20140527T000000| 468000.0|       2|      1.0|       1160|    6000|   1.0|         0|   0|        4|    7|       860|          300|    1942|           0|  98115|  47.69|-122.292|         1330|      6000|
| 114101516|20140528T000000| 310000.0|       3|      1.0|       1430|   19901|   1.5|         0|   0|        4|    7|      1430|            0|    1927|           0|  98028|47.7558|-122.229|         1780|     12697|
|6054650070|20141007T000000| 400000.0|       3|     1.75|       1370|    9680|   1.0|         0|   0|        4|    7|      1370|            0|    1977|           0|  98074|47.6127|-122.045|         1370|     10208|
|1175000570|20150312T000000| 530000.0|       5|      2.0|       1810|    4850|   1.5|         0|   0|        3|    7|      1810|            0|    1900|           0|  98107|  47.67|-122.394|         1360|      4850|
|9297300055|20150124T000000| 650000.0|       4|      3.0|       2950|    5000|   2.0|         0|   3|        3|    9|      1980|          970|    1979|           0|  98126|47.5714|-122.375|         2140|      4000|
|1875500060|20140731T000000| 395000.0|       3|      2.0|       1890|   14040|   2.0|         0|   0|        3|    7|      1890|            0|    1994|           0|  98019|47.7277|-121.962|         1890|     14018|
|6865200140|20140529T000000| 485000.0|       4|      1.0|       1600|    4300|   1.5|         0|   0|        4|    7|      NULL|            0|    1916|           0|  98103|47.6648|-122.343|         1610|      4300|
|  16000397|20141205T000000| 189000.0|       2|      1.0|       1200|    9850|   1.0|         0|   0|        4|    7|      1200|            0|    1921|           0|  98002|47.3089| -122.21|         1060|      5095|
|7983200060|20150424T000000| 230000.0|       3|      1.0|       1250|    9774|   1.0|         0|   0|        4|    7|      1250|            0|    1969|           0|  98003|47.3343|-122.306|         1280|      8850|
+----------+---------------+---------+--------+---------+-----------+--------+------+----------+----+---------+-----+----------+-------------+--------+------------+-------+-------+--------+-------------+----------+
only showing top 20 rows

In [6]:
df.printSchema()

root
 |-- id: string (nullable = true)
 |-- date: string (nullable = true)
 |-- price: string (nullable = true)
 |-- bedrooms: string (nullable = true)
 |-- bathrooms: string (nullable = true)
 |-- sqft_living: string (nullable = true)
 |-- sqft_lot: string (nullable = true)
 |-- floors: string (nullable = true)
 |-- waterfront: string (nullable = true)
 |-- view: string (nullable = true)
 |-- condition: string (nullable = true)
 |-- grade: string (nullable = true)
 |-- sqft_above: string (nullable = true)
 |-- sqft_basement: string (nullable = true)
 |-- yr_built: string (nullable = true)
 |-- yr_renovated: string (nullable = true)
 |-- zipcode: string (nullable = true)
 |-- lat: string (nullable = true)
 |-- long: string (nullable = true)
 |-- sqft_living15: string (nullable = true)
 |-- sqft_lot15: string (nullable = true)

In [7]:
from pyspark.sql.types import IntegerType, FloatType, StringType

# Cambiar el tipo de datos de las columnas
df = df.withColumn("price", df.price.cast(FloatType())) \
       .withColumn("bedrooms", df.bedrooms.cast(IntegerType())) \
       .withColumn("bathrooms", df.bathrooms.cast(FloatType())) \
       .withColumn("sqft_living", df.sqft_living.cast(IntegerType())) \
       .withColumn("sqft_lot", df.sqft_lot.cast(IntegerType())) \
       .withColumn("floors", df.floors.cast(FloatType())) \
       .withColumn("waterfront", df.waterfront.cast(IntegerType())) \
       .withColumn("view", df.view.cast(IntegerType())) \
       .withColumn("condition", df.condition.cast(IntegerType())) \
       .withColumn("grade", df.grade.cast(IntegerType())) \
       .withColumn("sqft_above", df.sqft_above.cast(IntegerType())) \
       .withColumn("sqft_basement", df.sqft_basement.cast(IntegerType())) \
       .withColumn("yr_built", df.yr_built.cast(IntegerType())) \
       .withColumn("yr_renovated", df.yr_renovated.cast(IntegerType())) \
       .withColumn("zipcode", df.zipcode.cast(StringType())) \
       .withColumn("lat", df.lat.cast(FloatType())) \
       .withColumn("long", df.long.cast(FloatType())) \
       .withColumn("sqft_living15", df.sqft_living15.cast(IntegerType())) \
       .withColumn("sqft_lot15", df.sqft_lot15.cast(IntegerType()))

df.printSchema()

root
 |-- id: string (nullable = true)
 |-- date: string (nullable = true)
 |-- price: float (nullable = true)
 |-- bedrooms: integer (nullable = true)
 |-- bathrooms: float (nullable = true)
 |-- sqft_living: integer (nullable = true)
 |-- sqft_lot: integer (nullable = true)
 |-- floors: float (nullable = true)
 |-- waterfront: integer (nullable = true)
 |-- view: integer (nullable = true)
 |-- condition: integer (nullable = true)
 |-- grade: integer (nullable = true)
 |-- sqft_above: integer (nullable = true)
 |-- sqft_basement: integer (nullable = true)
 |-- yr_built: integer (nullable = true)
 |-- yr_renovated: integer (nullable = true)
 |-- zipcode: string (nullable = true)
 |-- lat: float (nullable = true)
 |-- long: float (nullable = true)
 |-- sqft_living15: integer (nullable = true)
 |-- sqft_lot15: integer (nullable = true)

In [22]:
# Listado completo de columnas ordenado por zipcode
import pyspark.sql.functions as F1
df.sort(F1.col("zipcode")).show()

+----------+---------------+--------+--------+---------+-----------+--------+------+----------+----+---------+-----+----------+-------------+--------+------------+-------+-------+--------+-------------+----------+
|        id|           date|   price|bedrooms|bathrooms|sqft_living|sqft_lot|floors|waterfront|view|condition|grade|sqft_above|sqft_basement|yr_built|yr_renovated|zipcode|    lat|    long|sqft_living15|sqft_lot15|
+----------+---------------+--------+--------+---------+-----------+--------+------+----------+----+---------+-----+----------+-------------+--------+------------+-------+-------+--------+-------------+----------+
|3353400860|20140717T000000|249900.0|       3|     1.75|       2080|   12522|   1.0|         0|   0|        5|    6|      2080|            0|    1950|           0|  98001| 47.267| -122.25|         1690|     11200|
|3354400060|20150501T000000|238000.0|       2|      1.0|       1088|    8453|   1.0|         0|   0|        3|    6|      1088|            0|    1952|        2009|  98001|47.2685|-122.231|         1088|      8016|
|3751600030|20140717T000000|100000.0|       2|      1.0|        770|   17334|   1.0|         0|   0|        3|    7|       770|            0|    1978|           0|  98001|47.2997|-122.269|         1480|     17334|
|8001400340|20140924T000000|289000.0|       3|      2.0|       1850|    9550|   1.0|         0|   0|        3|    8|      1850|            0|    1988|           0|  98001|47.3225|-122.273|         2250|      9550|
|4401150070|20140623T000000|320000.0|       3|      2.5|       2280|    7417|   2.0|         0|   0|        3|    8|      2280|            0|    1998|           0|  98001|47.3557|-122.278|         2370|      6443|
|7895500070|20150213T000000|240000.0|       4|      1.0|       1220|    8075|   1.0|         0|   0|        2|    7|       890|          330|    1969|           0|  98001|47.3341|-122.282|         1290|      7800|
|1687000270|20140528T000000|267000.0|       3|      2.5|       2495|    4400|   2.0|         0|   0|        3|    8|      2495|            0|    2007|           0|  98001| 47.288|-122.283|         2434|      4400|
|8961960160|20141028T000000|480000.0|       4|      2.5|       3230|   16171|   2.0|         0|   3|        3|    9|      2520|          710|    2001|           0|  98001|47.3183|-122.253|         2640|      8517|
|3751604974|20141204T000000|350000.0|       2|      1.5|       1320|   73600|   1.0|         0|   0|        3|    7|      1320|            0|    1993|           0|  98001|47.2755|-122.271|         1320|     33600|
|4014400292|20150114T000000|465000.0|       3|      2.5|       2714|   17936|   2.0|         0|   0|        3|    9|      2714|            0|    2005|           0|  98001|47.3185|-122.275|         2590|     18386|
|2214800270|20140925T000000|355000.0|       4|      2.5|       2770|    7000|   1.0|         0|   0|        4|    7|      1940|          830|    1979|           0|  98001|47.3396|-122.256|         2140|      7684|
|3353400435|20140721T000000|230000.0|       3|      2.0|       1450|   11204|   1.0|         0|   0|        3|    7|      1450|            0|    2003|           0|  98001|47.2639|-122.252|         1520|      9518|
|1311100520|20150414T000000|250000.0|       4|     2.25|       1730|    8400|   1.0|         0|   0|        3|    7|      1730|            0|    1962|           0|  98001|47.3386|-122.288|         1550|      7920|
|7967200060|20140908T000000|243000.0|       3|     1.75|       1450|   12125|   1.0|         0|   0|        4|    7|      1450|            0|    1981|           0|  98001|47.3575| -122.28|         1210|     12125|
|5412100550|20141208T000000|355000.0|       4|      3.0|       2590|    7213|   2.0|         0|   0|        3|    8|      2590|            0|    2001|           0|  98001|47.2609|-122.289|         2550|      6800|
|5066400483|20141120T000000|249900.0|       3|     1.75|       1380|   14000|   1.0|         0|   0|        4|    5|      1380|            0|    1939|        1957|  98001| 47.294|-122.281|         1490|     18503|
|5515600075|20141205T000000|299000.0|       3|      1.0|       1510|  142803|   1.0|         0|   0|        3|    7|      1510|            0|    1974|           0|  98001|47.3192|-122.287|         1330|     46609|
|5462100240|20140625T000000|196500.0|       3|      1.0|       1320|    9000|   1.0|         0|   0|        3|    7|      1320|            0|    1966|           0|  98001|47.3461|-122.272|         1320|      9800|
|6181430800|20150105T000000|330000.0|       4|      2.5|       3504|    6000|   2.0|         0|   0|        3|    7|      3504|            0|    2006|           0|  98001|47.3012|-122.285|         2790|      5231|
|3356406510|20140530T000000|196440.0|       3|      2.0|       1560|    7352|   1.0|         0|   0|        3|    6|      1560|            0|    1992|           0|  98001|47.2804|-122.251|         1120|      7950|
+----------+---------------+--------+--------+---------+-----------+--------+------+----------+----+---------+-----+----------+-------------+--------+------------+-------+-------+--------+-------------+----------+
only showing top 20 rows

In [18]:
# Obtenemos el conteo de casas por zipcode
df.groupBy("zipcode").count().show()

+-------+-----+
|zipcode|count|
+-------+-----+
|  98011|  195|
|  98144|  343|
|  98014|  124|
|  98109|  109|
|  98033|  432|
|  98008|  283|
|  98058|  455|
|  98118|  508|
|  98023|  499|
|  98005|  168|
|  98031|  274|
|  98010|  100|
|  98117|  553|
|  98072|  273|
|  98004|  317|
|  98030|  256|
|  98065|  310|
|  98155|  446|
|  98178|  262|
|  98103|  602|
+-------+-----+
only showing top 20 rows

In [30]:
# Zipcode con mayor número de casas
mayor_casa_zipcode = df.groupBy("zipcode").count().orderBy(F1.desc("count")).first()["zipcode"]
mayor_casa_zipcode

'98103'

In [41]:
# Se hace el filtro con el mayoy zipcode
filtro_df = df.filter(F1.col("zipcode") == mayor_casa_zipcode)

In [35]:
# Para el zipcode con mayor número de casas, calcular el promedio de precio, y tamaño en m2
averages = filtro_df.agg(
    F1.first("zipcode").alias("Zipcode"),
    F1.avg("price").alias("Precio promedio"),
    (F1.avg("sqft_living") * 0.092903).alias("Tamaño m2")
)
averages.show()

+-------+-----------------+-----------------+
|Zipcode|  Precio promedio|        Tamaño m2|
+-------+-----------------+-----------------+
|  98103|584919.2109634551|153.3671119601329|
+-------+-----------------+-----------------+

In [40]:
# Agrupamiento en Spark, por número de habitaciones y baños, del precio.
df.groupBy(["zipcode", "bedrooms", "bathrooms"]).avg("price").show()

+-------+--------+---------+------------------+
|zipcode|bedrooms|bathrooms|        avg(price)|
+-------+--------+---------+------------------+
|  98118|       4|     1.75|          417600.0|
|  98040|       5|      3.0|         1229800.0|
|  98053|       2|     1.75|         499701.75|
|  98040|       5|      2.5|         1010500.0|
|  98118|       6|      3.5|          680000.0|
|  98108|       4|     1.75|          340325.0|
|  98168|       5|      1.5|          246500.0|
|  98028|       5|      2.5|          510250.0|
|  98118|       0|      1.0|          228000.0|
|  98117|       3|      1.5|          560200.0|
|  98075|       4|      3.5| 926040.2083333334|
|  98006|       3|      2.0| 548181.8181818182|
|  98058|       4|      5.5|         1500000.0|
|  98074|       5|      4.5|1133666.6666666667|
|  98072|       3|      1.5| 397774.3333333333|
|  98102|       2|      2.5|          683375.0|
|  98126|       5|     2.25|          600000.0|
|  98106|       4|      3.0|          331000.0|
|  98030|       3|     2.75| 296666.6666666667|
|  98112|       3|      3.0|         1722500.0|
+-------+--------+---------+------------------+
only showing top 20 rows